<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628452998985-a6d08d82kqe2kqa934n6el39ofivkn32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628452998985-a6d08d82kqe2kqa934n6el39ofivkn32</string>
	<key>API_KEY</key>
	<string>AIzaSyBUZzwLXLso7dU04cMa5L5TN6kK0jNFlZo</string>
	<key>GCM_SENDER_ID</key>
	<string>628452998985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.erikHaydar</string>
	<key>PROJECT_ID</key>
	<string>erikhaydar-cc050</string>
	<key>STORAGE_BUCKET</key>
	<string>erikhaydar-cc050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628452998985:ios:bc10d058ffdfe7fa892498</string>
</dict>
</plist>